*,
html {
    margin: 0;
    padding: 0;
}

.container-content {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.container-navbar {
    background-color: firebrick;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: chocolate;
    transition: .2s ease-in-out;
    transition-delay: .1,5s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    height: 50vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}